.fa,
.fas {
  margin-right: 0.5rem;
}
.btn {
  margin: 5px 0;
  font-size: 15px;
  border-radius: 70px;
  font-weight: normal;
  text-align: center;
}
.signup-oauth .fa-facebook:hover {
  color: #4267b2;
  transition: all 0.2s ease-in-out;
}
.signup-oauth .fa-google:hover {
  color: #de5246;
  transition: all 0.2s ease-in-out;
}
.signup-oauth .fa-twitter:hover {
  color: #1DA1F2;
  transition: all 0.2s ease-in-out;
}
h1{
  color: #FFFFFF;
  font-size: 90px !important;
  text-align: center;        
  margin-top: 90px !important;
}
.heading {
  background: url(http://demo.thedevelovers.com/dashboard/queenadmin-1.2/assets/img/city.jpg);
  height: 300px;
  width: 100%;
} 
.user{
  text-align: center;
  padding-bottom: 20px;
  margin-top:50px;
  border-style: solid 10px !important;
}
