 .fa{
        margin: 0rem 0.5rem 0 0;
    }
 .btn{
        margin: 5px 0;
        font-size: 15px;
        border-radius: 70px;
        text-indent: 10px;
        font-weight: normal;
        text-align: center;		
    }